<!--<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
	<div class="jumbotron">
	    <a href='/signout' class='sign-out'>Sign Out </a>  
		<h1 class='login-title'>Welcome <%= user.firstName %></h1>
		<ul class='user-details'>
			<li>Username: <%= user.username %></li>
			<li>Email: <%= user.email %></li>
			<li>First Name: <%= user.firstName %></li>
			<li>Last Name: <%= user.lastName %></li>
		</ul>
	</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
    
</body>
</html>-->